:root {
    --bs-font-sans-serif:  Ubuntu, Arial, sans-serif;
    --bs-body-font-size: 1.1rem;
}

.hover-opacity:hover {
    opacity: 0.7;
}

.hover-underline-inverse:hover {
    text-decoration: none;
}

.hover-underline:hover {
    text-decoration: underline;
}

.contact-form input.form-control, .form-floating textarea.form-control {
    height: 4.5rem;
    font-size: 1rem;
    margin: 0;
    padding: 0 0 0 1rem;
}

.contact-form label {
    padding-left: 2rem;
    font-size: 1rem;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
    transform: scale(0.8) translateY(-0.5rem) translateX(0rem);
}

.portfolio-item {
    font-size: 0.8rem;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    resize: both;
}

.portfolio-list {
    gap: 1rem;
}

.portfolio-item a {
    text-decoration: none;
}

.radius-round {
    border-radius: 999px !important;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-flex-start {
    justify-content: flex-start;
}

.justify-flex-end {
    justify-content: flex-end;
}

.text-bold {
    font-weight: 700;
}
